<%= @song.first.name %><br>
<a href="/artists/<%= @song.first.artist.slug %>"><%= @song.first.artist.name %><br></a>
<% @song.first.genres.map do |genre| %>
<a href="/genres/<%= genre.slug %>"><%= genre.name %><br></a>
<%  end %><br>

<form action="/songs/:slug/delete" method="post">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">(needs debugging)
</form>
